#SectorwiseQuaterlyPlanSummaryReport tr .colorTable:nth-child(2), #SectorwiseQuaterlyPlanSummaryReport tr .srpadd:nth-child(n+5){
	background: var(--color1);
}
#SectorwiseQuaterlyPlanSummaryReport tr .colorTable:nth-child(3), #SectorwiseQuaterlyPlanSummaryReport tr .srpadd:nth-child(n+9){
	background: var(--color2);
}


#SectorwiseQuaterlyPlanSummaryReport .col1{
	width: 100px !important;
	white-space: pre-wrap!important;
}
#SectorwiseQuaterlyPlanSummaryReport .col2{
	width: 100px !important;
}
#SectorwiseQuaterlyPlanSummaryReport .col3{
	white-space: pre-wrap!important;
	width: 150px !important;
}
#SectorwiseQuaterlyPlanSummaryReport .col4, #SectorwiseQuaterlyPlanSummaryReport .col7{
	width: 54px !important;
}
 #SectorwiseQuaterlyPlanSummaryReport .col16, #SectorwiseQuaterlyPlanSummaryReport .col17
 {
	width: 62px !important;
} 
#SectorwiseQuaterlyPlanSummaryReport .col10{
	width: 82px !important;
}

#SectorwiseQuaterlyPlanSummaryReport .col6, #SectorwiseQuaterlyPlanSummaryReport .col9, #SectorwiseQuaterlyPlanSummaryReport .col5, #SectorwiseQuaterlyPlanSummaryReport .col15{
	width: 72px !important;
}
#SectorwiseQuaterlyPlanSummaryReport .col12, #SectorwiseQuaterlyPlanSummaryReport .col11 {
	width: 52px !important;
}
#SectorwiseQuaterlyPlanSummaryReport .col13, #SectorwiseQuaterlyPlanSummaryReport .col8, #SectorwiseQuaterlyPlanSummaryReport .col14{
	width: 52px !important;
}
#SectorwiseQuaterlyPlanSummaryReport .scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}

#SectorwiseQuaterlyPlanSummaryReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}

