.actListItem{
	font-family:'Montserrat',sans-serif !important;
	padding-left:6px;
  	padding-top: 3px;
	font-size:13px !important;
}
.subActivitylistItem{
	font-family:'Montserrat',sans-serif !important;
	padding-left:6px;
 	padding-top: 3px;
	font-size:11px !important;
	color: #444;
}


/*checkbox*/
.subContainer{
  position: relative;
  align-content: center;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
  text-align: center;
  left:3px;
}
/* Hide the browser's default checkbox */
.subContainer input {
  position: relative;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  height: 16px;
  width: 16px;
  right: 15px; 
}
/* Create a custom checkbox */
.subCheck {
  position: absolute;
  top: 2px;
  left: 0px;
  vertical-align: center !important;
  align-content: center;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 2px solid #ddd;
  z-index: 0;
}
/* On mouse-over, add a grey background color */
.subContainer:hover input ~ .subCheck{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.subContainer input:checked ~ .subCheck {
  background-color: #2196F3;
  border:2px solid #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.subCheck:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.subContainer input:checked ~ .subCheck:after {
  display: block;
}
/* Style the checkmark/indicator */
.subContainer .subCheck:after {
	left: 3px;
    top: 0px;
    width: 6px;
    height: 9px;
    align-content: center;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#subactivityDiv{
	padding-left: 12px;
}
/*checkbox*/
.sectorContainer{
  position: relative;
  align-content: center;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
  text-align: center;
  left:3px;
  top: 10px;
}
/* Hide the browser's default checkbox */
.sectorContainer input {
  position: relative;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  height: 18px;
  width: 18px;
  right: 12px; 
}
/* Create a custom checkbox */
.sectorCheck {
  position: absolute;
  top: 2px;
  left: 0px;
  vertical-align: center !important;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid #ddd;
  z-index: 0;
}
/* On mouse-over, add a grey background color */
.sectorContainer:hover input ~ .sectorCheck{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.sectorContainer input:checked ~ .sectorCheck {
  background-color: #2196F3;
  border:2px solid #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.sectorCheck:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.sectorContainer input:checked ~ .sectorCheck:after {
  display: block;
}
/* Style the checkmark/indicator */
.sectorContainer .sectorCheck:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  align-content: center;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}