#nameOfGoal .col1
{
  text-align: left !important;
  width: 318px;
}
#nameOfGoal .col2 {
  text-align: left !important;
  width: 318px;
}
#nameOfGoal .col3 {
  width: 70px;
}
#nameOfGoal .scrollContent {
  display: block;
  height: 300px;
  overflow: auto;
  width: 100%;
}
#nameOfGoal .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}
#viewernameOfGoal .col1
{
  width: 318px;
}
#viewernameOfGoal .col2 {
  width: 390px;
}
#viewernameOfGoal .scrollContent {
  display: block;
  height: 400px;
  overflow: auto;
  width: 100%;
}

#viewernameOfGoal .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}
