#nameOfGoal .col1
{
  width: 400px;
}
#nameOfGoal .col2 {
  width: 420px;
}


#nameOfGoal .scrollContent {
  display: block;
  height: 300px;
  overflow: auto;
  width: 100%;
}

#nameOfGoal .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}
