/*#CategorywiseReport .col1{
	width: 40px !important;
	white-space: pre-wrap!important;
	text-align: center !important;
}
tr #srNo{
	width: 40px !important;
	text-align: left !important;
	white-space: nowrap!important;
}
#CategorywiseReport .col2{
	width: 200px !important;
	white-space: pre-wrap!important;
}
#CategorywiseReport .col3{
	white-space: pre-wrap!important;
	width: 165px !important;
}
#CategorywiseReport .col4{
	white-space: pre-wrap!important;
	width: 165px !important;
}
#CategorywiseReport .scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}
#CategorywiseReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}*/

#CategorywiseReport .col1{
	white-space: pre-wrap!important;
	text-align: center !important;
}
tr #srNo{
	text-align: left !important;
	white-space: nowrap!important;
}