#activityReport .col1{
  width: 100px !important;
  white-space: pre-wrap!important;
}
#activityReport .col2{
  width: 100px !important;
}
#activityReport .col3{
  white-space: pre-wrap!important;
  width: 100px !important;
}
#activityReport .col4{
  width: 120px !important;
}
#activityReport .col7
{
  width: 200px !important;
} 
#activityReport .col11, #activityReport .col9, #activityReport .col13, #activityReport .col15, #activityReport .col17
{
  width: 72px !important;
} 
 #activityReport .col5{
  width: 120px !important;
}

#activityReport .col6, #activityReport .col20{
  width: 200px !important;
}
#activityReport .col10, #activityReport .col12, #activityReport .col16 {
  width: 72px !important;
}
#activityReport .col8, #activityReport .col14, #activityReport .col18, #activityReport .col19{
  width: 72px !important;
}

#activityReport .col21{
    width: 60px !important;
}

#activityReport .scrollContent {
  display: block;
  height: 250px;
  overflow: auto;
  width: 100%;
}

#activityReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}



.tabNav>li>a {
  border-radius: 0;
  color: #444;
  background: #eee;
}
.tabNav>li>a:focus, .tabNav>li>a:hover {
  text-decoration: none;
  background-color: #ddd;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.container6 {
  position: absolute;
  top: 26px;
}
.switch{
    padding: 2px;
    position: relative;
    height: 32px;
    border: 1px solid #979797 !important;
    /* width: 120px; */
    /* margin: 20px auto; */
    /* background: rgba(0, 0, 0, 0.25); */
    border-radius: 25px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}



.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  line-height: 26px;
  /*font-size: 11px;*/
  color:  #2e2b2b;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);*/
  cursor: pointer;
}
.switch-label:active {
  font-weight: 100;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}
.switch-input:checked ~ .switch-selection{
  color: #4183D7;
    width: 49%;
    height: 25px;
    transition: 0.4s;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: 100;
  color: #fff;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 49% !important;
  height: 25px;
  /*left: 60px;*/
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
  position: absolute;
  z-index: auto;
  top: 3px;
  left: 5px;
  display: block;
  border-radius: 10px;
  background-color: #4ca75a;
  /*box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);*/
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background-color: #3aa2d0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fc9ee), color-stop(100%, #3aa2d0));
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -ms-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(top, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background-color: #c4bb61;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0dd94), color-stop(100%, #c4bb61));
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -ms-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(top, #e0dd94, #c4bb61);

}























/*toggle button*/

.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle__switch {
  margin-left: 0px !important;
}


.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    color: #ffffff !important;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 13px;
  top:0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
 
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;

  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #969899;
}

.can-toggle label .can-toggle__label-text {
  flex: 1;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0, 1, 0.9, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}


.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle__switch{
  margin-left: 400px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
  /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #b53e74;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #8f315c;
}

.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.9s ease-in-out;
  background: #c14b81;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #ffffff !important;
  width: 300px !important;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #2E3951;
}

.can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  background: #666;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: #969899;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1),
   -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #ffffff;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(122px, 0, 0);
          transform: translate3d(122px, 0, 0);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 37px;
  flex: 0 0 120px;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 60px;
  font-size: 13px;
  line-height: 28px;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 3px;
  left: 2px;
  border-radius: 30px;
  width: 58px;
  line-height: 25px;
  z-index: auto;
  font-size: 13px;
}

.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 13px;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;

  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
 
  text-align: center;
  background: #4ca75a;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #ffffff;
}


.can-toggle label .can-toggle__label-text {
  flex: 1;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0, 1, 0.9, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}

.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}



.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(78px, 0, 0);
          transform: translate3d(78px, 0, 0);
}

.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  flex: 0 0 160px;
  border-radius: 4px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}


.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #44ae7f;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #368a65;
}

.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.9s ease-in-out;
  background: #c14b81;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #75d32d;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #666;
}

.can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  background: #ffffff;
  border: 1px solid #979797;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: #2E3951;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #ffffff !important;
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(122px, 0, 0);
          transform: translate3d(122px, 0, 0);
}

.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 30px;
  flex: 0 0 234px;
  font-weight: 800;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 120px;
  font-size: 13px;
  line-height: 28px;
  white-space: nowrap;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 30px;
  width: 106px !important;
  line-height: 25px;
  font-size: 13px;
}


.notbtn{

	border:1px solid #f4f4f4;
	height: 36px;
	border-radius: 3px;
	text-align: center;
	padding-top: 5px;
}

.redirectDiv{
  margin-top: 5px;
  padding: 1px 16px;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.form_heading4{
	padding-left: 10px;
	font-size: 10px;
	margin-bottom: 30px;
}
.set_fnt{
	font-family:'Montserrat-Regular';
	font-size: 16px;
	color: #333333;
}
.cnt_left{
	margin-left: 30px;
}
.Attach_hand{
	 margin-top:50px;
	 margin-left: 100px;
}
.down_col{
	margin-bottom: 15px;
}
.acadm_btn{
	margin-top: 30px;
}
.display_map_ac{
  margin-top: 30px;;
  margin-left: 15px;
  padding-top: 30px;
  border: 1px solid #e5e7e9;
  border-radius: 3px;
  width: 95%;
  box-shadow: 0 0 10px #ccc;
}
.timlinePhoto{
/*	background-image: url("images/44.png");
*/	background-size: 100% 100%;
	height: 150px;
}
.profileImgSideBar{
	height: 90px;
    width: 85px;
    margin-left: 15px;
    position: absolute;
    top: 95px;
    left: 50px;
	border: 3px solid #eee;
	border-radius: 15px;
	box-shadow: 0px 0px 10px 0px #333;
}
.rowWidth{

}
.nameonProfile{
	text-align: center;
	margin-top: 65px;
}
.nameonProfile p{
	font-size: 10px;
}
.sapnImages{
	margin-left: 20%;
	padding: 14px;
	margin-top: -5px;

}
.iconpadding{
	padding: 5px;
}
.sideProfileButton1{
	width: 80px;
	height: 34px;
	border-radius: 20px;
	margin-left: 9%;
}
.sideProfileButton2{
	width: 80px;
	height: 34px;
	border-radius: 20px;
	margin-left: 12px;
}
.profilecontact{
	margin-top: 25px;	
}
.adjust_side{
	margin-left: -5px;
}
.row_sidebar {
    margin-right: -15px;
    margin-left: -11px;
}
/*Css Added by PL for capital letter*/
.nameParts{
  text-transform: capitalize;

}
.toUpper{
  text-transform: uppercase;
}
.pageSubheaderAc{
	font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    margin-left: 15px;
    color: #333333;
    font-weight: 575;
    padding-bottom: 20px;
}
.boxHeight1{
	height:55px;
}
.boxHeightother{
	margin-top:10px;
}
.addContainerAct{
	height: 30px;
	width:30px;
	padding: 0px;
	border-radius: 100px;
	border: 1px solid #4ca75a;
/*	margin-left:917px;
*/	color:#000;
}
.addContainerAct:hover{
	cursor: pointer;
}
.addContainerAct i{
	font-size:19px;
	color: #4ca75a;
	padding-left:6px;
	padding-top: 6px;
}
.close i{
	color:#f00 !important;
	padding-top: 8px;
}
.*:focus{
	border: none;
}
.unit{
  background: #eee;
	font-family:'Montserrat' !important;
}
/*checkbox*/
.checkActivityContainer{
  position: relative;
/*  padding-left: 3px;
 margin-bottom: 12px;
*/  
  align-content: center;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
  text-align: center;
  left:3px;
}
/* Hide the browser's default checkbox */
.checkActivityContainer input {
     position: relative; 
     opacity: 0; 
    z-index: 1;
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin-left: -61px;
   /*right:10px;*/
    margin-top: 0px;
}
/* Create a custom checkbox */
.Activitycheckmark {
  position: absolute;
  top: 2px;
  left: 46px;
  vertical-align: center !important;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid #ddd;
  margin-left: -37px;
  z-index: 0;
}
/* On mouse-over, add a grey background color */
.checkActivityContainer:hover input ~ .Activitycheckmark{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.checkActivityContainer input:checked ~ .Activitycheckmark {
  background-color: #2196F3;
  border:2px solid #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.Activitycheckmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkActivityContainer input:checked ~ .Activitycheckmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkActivityContainer .Activitycheckmark:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  align-content: center;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.actionDiv:hover {
    cursor: pointer;
}
.actionDiv :hover i {
  color: #f00;
}
.ReactTable .rt-tbody .rt-td {
  padding: 10px;
}
.mr30{
  margin-right: 30px;
}
.mt23{
  margin-top: 23px;
}