#ActivityWisePeriodicVarianceReport tr .colorTable:nth-child(2), #ActivityWisePeriodicVarianceReport tr .srpadd:nth-child(n+6){
	background: var(--color1);
}
#ActivityWisePeriodicVarianceReport tr .colorTable:nth-child(3), #ActivityWisePeriodicVarianceReport tr .srpadd:nth-child(n+9){
	background: var(--color2);
}
 #ActivityWisePeriodicVarianceReport tr .colorTable:nth-child(4), #ActivityWisePeriodicVarianceReport tr .srpadd:nth-child(n+19){
	background: var(--color1);
}
#ActivityWisePeriodicVarianceReport tr .colorTable:nth-child(5), #ActivityWisePeriodicVarianceReport tr .srpadd:nth-child(n+29){
	background: var(--color2);
}

/*
.col1{
	width: 200px !important;
	white-space: pre-wrap!important;
}
.col2{
	width: 200px !important;
}
.col3{
	width: 200px !important;
}
.col4{
	width: 200px !important;
}
.col5{
	width: 150px !important;
}
.col6{
	width: 150px !important;
}
.col7{
	width: 100px !important;
}
#ActivityWisePeriodicVarianceReport .scrollContent {
  display: block;
  height: 262px;
  overflow: auto;
  width: 100%;
}

#ActivityWisePeriodicVarianceReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}
*/



