/*.col1{
	width: 100px !important;
	white-space: pre-wrap!important;
}
.col2{
	width: 100px !important;
}
.col3{
	width: 200px !important;
}
.col4{
	width: 120px !important;
}
.col5{
	width: 150px !important;
}
.col6{
	width: 150px !important;
}
.col7{
	width: 100px !important;
}

#CenterRankingReport .scrollContent {
  display: block;
  height: 262px;
  overflow: auto;
  width: 100%;
}

#CenterRankingReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}



*/