
#SectorwisePeriodicVarianceSummaryReport tr .srpadd:nth-child(n+7), #SectorwisePeriodicVarianceSummaryReport tr .colorTable:nth-child(3){
	background: var(--color1);
}
#SectorwisePeriodicVarianceSummaryReport tr .srpadd:nth-child(n+14), #SectorwisePeriodicVarianceSummaryReport tr .colorTable:nth-child(4), #SectorwisePeriodicVarianceSummaryReport tr .colorTable:nth-child(5){
	background: var(--color2);
}
#SectorwisePeriodicVarianceSummaryReport tr .srpadd:nth-child(n+23), #SectorwisePeriodicVarianceSummaryReport tr .colorTable:nth-child(6), #SectorwisePeriodicVarianceSummaryReport tr .colorTable:nth-child(7){
	background: var(--color1);
}
