#activitywisePeriodicPlanReport tr .colorTable:nth-child(2), #activitywisePeriodicPlanReport tr .srpadd:nth-child(n+6){
	background: var(--color1);
}
#activitywisePeriodicPlanReport tr .colorTable:nth-child(3), #activitywisePeriodicPlanReport tr .srpadd:nth-child(n+11){
	background: var(--color2);
}


#activitywisePeriodicPlanReport .col1{
	width: 100px !important;
	white-space: pre-wrap!important;
}
#activitywisePeriodicPlanReport .col2{
	width: 100px !important;
}
#activitywisePeriodicPlanReport .col3{
	width: 200px !important;
}
#activitywisePeriodicPlanReport .col4, #activitywisePeriodicPlanReport .col7, #activitywisePeriodicPlanReport .col10, #activitywisePeriodicPlanReport .col21{
	width: 50px !important;
}
#activitywisePeriodicPlanReport .col13, #activitywisePeriodicPlanReport .col14, #activitywisePeriodicPlanReport .col16, #activitywisePeriodicPlanReport .col19, #activitywisePeriodicPlanReport .col20{
	width: 62px !important;
} 

#activitywisePeriodicPlanReport .col6, #activitywisePeriodicPlanReport .col11, #activitywisePeriodicPlanReport .col18{
	width: 72px !important;
}
#activitywisePeriodicPlanReport .col5,  #activitywisePeriodicPlanReport .col8, #activitywisePeriodicPlanReport  .col9, #activitywisePeriodicPlanReport .col12, #activitywisePeriodicPlanReport .col15, #activitywisePeriodicPlanReport .col17, #activitywisePeriodicPlanReport .col14 {
	width: 52px !important;
}

#activitywisePeriodicPlanReport .scrollContent {
  display: block;
  height: 262px;
  overflow: auto;
  width: 100%;
}

#activitywisePeriodicPlanReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}

