.activityWiseReport .col4, .activityWiseReport .col3{
	width: 160px !important;
	text-align: left !important;
	white-space: pre-wrap!important;
}
.activityWiseReport .col5{
	text-align: left !important;
	white-space: pre-wrap!important;
	width: 160px !important;
}
.activityWiseReport .col2{
	text-align: left !important;
	white-space: pre-wrap!important;
	width: 130px !important;
}

#ActivityWiseReport .col1{
	width: 110px !important;
	white-space: pre-wrap!important;
}
#ActivityWiseReport .col2{
	text-align: left !important;
	white-space: pre-wrap!important;
	width: 100px !important;
}
#ActivityWiseReport .col3{
	text-align: left !important;
	white-space: pre-wrap!important;
	width: 150px !important;
}
#ActivityWiseReport .col4{
	text-align: left !important;
	white-space: pre-wrap!important;
	width: 150px !important;
}
#ActivityWiseReport .col6,#ActivityWiseReport .col8, #ActivityWiseReport .col16{
	white-space: pre-wrap!important;
	width: 75px !important;
}
#ActivityWiseReport .col11, #ActivityWiseReport .col13, #ActivityWiseReport .col14, #ActivityWiseReport .col15{
	white-space: pre-wrap!important;
	width: 75px !important;
} 
#ActivityWiseReport .col17{
	white-space: pre-wrap!important;
	width: 75px !important;
} 
#ActivityWiseReport .col5{
	text-align: left !important;
	white-space: pre-wrap!important;
	width: 160px !important;
}
#ActivityWiseReport .col7, #ActivityWiseReport .col9, #ActivityWiseReport .col10, #ActivityWiseReport .col12{
	width: 70px !important;
}
#ActivityWiseReport .col18 {
	width: 63px !important;
}
#ActivityWiseReport .scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}

#ActivityWiseReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}



