#Highlight .col1, #Highlight .col2{
    width: 145px;
}
#Highlight .col3{
    width: 385px;
}


#Highlight .scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}

#Highlight .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}

.viewLinkBox{
	margin-top: 70px;
}
.viewLinkBox2{
	margin-top: 140px;
}