.fixedTable .colSr{
	width: 30px !important;
}
#VillagewisefamilyReport .col1{
	width: 100px !important;
	white-space: pre-wrap!important;
}
#VillagewisefamilyReport .col2{
	white-space: pre-wrap!important;
	width: 80px !important;
}
#VillagewisefamilyReport .col3{
	white-space: pre-wrap!important;
	width: 100px !important;
}
#VillagewisefamilyReport .col4{
	white-space: pre-wrap!important;
	width: 90px !important;
}
#VillagewisefamilyReport .col9, #VillagewisefamilyReport .col7
{
	white-space: pre-wrap!important;
	width: 62px !important;
} 
#VillagewisefamilyReport .col5{
	white-space: pre-wrap!important;
	width: 200px !important;
}
#VillagewisefamilyReport .col8{
	white-space: pre-wrap!important;
	width: 72px !important;
}
#VillagewisefamilyReport .col6, #VillagewisefamilyReport .col12{
	white-space: pre-wrap!important;
	width: 72px !important;
}

#VillagewisefamilyReport .col10, #VillagewisefamilyReport .col11, #VillagewisefamilyReport .col13, #VillagewisefamilyReport .col14{
	white-space: pre-wrap!important;
	width: 62px !important;
} 
#VillagewisefamilyReport .col15, #VillagewisefamilyReport .col16, #VillagewisefamilyReport .col17, #VillagewisefamilyReport .col18, #VillagewisefamilyReport .col19{
	white-space: pre-wrap!important;
	width: 62px !important;
} 
#VillagewisefamilyReport .scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}

#VillagewisefamilyReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}


/*#VillagewisefamilyReport .col1{
	width: 100px !important;
	white-space: pre-wrap!important;
}
#VillagewisefamilyReport .col2{
	white-space: pre-wrap!important;
	width: 100px !important;
}
#VillagewisefamilyReport .col3{
	white-space: pre-wrap!important;
	width: 200px !important;
}
#VillagewisefamilyReport .col4, #VillagewisefamilyReport .col7{
	white-space: pre-wrap!important;
	width: 90px !important;
}
#VillagewisefamilyReport .col9
{
	white-space: pre-wrap!important;
	width: 62px !important;
} 

#VillagewisefamilyReport .col5{
	white-space: pre-wrap!important;
	width: 150px !important;
}
#VillagewisefamilyReport .col8, #VillagewisefamilyReport .col6{
	white-space: pre-wrap!important;
	width: 82px !important;
}*/
