.fixedTable .colSr{
	width: 30px !important;
}
#FamilyCoverageReport .col1{
	width: 100px !important;
	white-space: pre-wrap!important;
}
#FamilyCoverageReport .col2{
	white-space: pre-wrap!important;
	width: 80px !important;
}
#FamilyCoverageReport .col3{
	white-space: pre-wrap!important;
	width: 100px !important;
}
#FamilyCoverageReport .col4{
	white-space: pre-wrap!important;
	width: 90px !important;
}
#FamilyCoverageReport .col9, #FamilyCoverageReport .col7
{
	white-space: pre-wrap!important;
	width: 62px !important;
} 
#FamilyCoverageReport .col5{
	white-space: pre-wrap!important;
	width: 200px !important;
}
#FamilyCoverageReport .col8{
	white-space: pre-wrap!important;
	width: 72px !important;
}
#FamilyCoverageReport .col6, #FamilyCoverageReport .col12, #FamilyCoverageReport .col20, #FamilyCoverageReport .col21{
	white-space: pre-wrap!important;
	width: 72px !important;
}
#FamilyCoverageReport .col14{
	white-space: pre-wrap!important;
	width: 70px !important;
} 
#FamilyCoverageReport .col10, #FamilyCoverageReport .col11, #FamilyCoverageReport .col13{	
	white-space: pre-wrap!important;
	width: 62px !important;
} 
#FamilyCoverageReport .col15, #FamilyCoverageReport .col16, #FamilyCoverageReport .col17, #FamilyCoverageReport .col18, #FamilyCoverageReport .col19{
	white-space: pre-wrap!important;
	width: 62px !important;
} 
#FamilyCoverageReport .scrollContent {
  display: block;
  height: 450px;
  overflow: auto;
  width: 100%;
}

#FamilyCoverageReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}


/*#FamilyCoverageReport .col1{
	width: 100px !important;
	white-space: pre-wrap!important;
}
#FamilyCoverageReport .col2{
	white-space: pre-wrap!important;
	width: 100px !important;
}
#FamilyCoverageReport .col3{
	white-space: pre-wrap!important;
	width: 200px !important;
}
#FamilyCoverageReport .col4, #FamilyCoverageReport .col7{
	white-space: pre-wrap!important;
	width: 90px !important;
}
#FamilyCoverageReport .col9
{
	white-space: pre-wrap!important;
	width: 62px !important;
} 

#FamilyCoverageReport .col5{
	white-space: pre-wrap!important;
	width: 150px !important;
}
#FamilyCoverageReport .col8, #FamilyCoverageReport .col6{
	white-space: pre-wrap!important;
	width: 82px !important;
}*/

.tablerow > td {
    border: 1px solid #2f9c3f !important;
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top
}