.masterTalukaInput,.talukaFormAlignment{
	padding: 0px !important;
}
.textalignTaluka{
	text-align: center;
}

.btn_mrg_taluka {
/*    margin-top: 40px !important;
*/    margin-bottom:30px !important;
	  margin-top: 10px;
}

.icn{
    margin-left: 31px;
}

.color-edit{
    color:#039fe5;
}
.color-trash{
    color:#ff0000;
}

.bulkUploadForm3{
      margin-top: 15px;
}

