.masterDistrictWrapper,.masterDistrictInput{
	padding: 0px !important;
}
.DistrictWrapper,.bulkUploadDistrictWrapper{
	padding: 0;
}

.dt{
    margin-top: 18px;
}

.btn_mrg1 {
    margin-top: 15px;
    margin-bottom: 30px !important;
}
.icn{
    margin-left: 35px;
}

.color-edit{
    color:#039fe5;
}
.color-trash{
    color:#ff0000;
}

 .bulkUploadForm5{
  margin-top: 15px;
}


