.caseFileouterForm .iconLable{}
.caseFileouterForm {
    box-shadow: 0px 2px 8px #888888cf;
    padding: 25px 15px 15px 25px;
    margin-bottom: 20px;
    height: 170px;
}

.iconBox{
	padding:0px 0px 0px 29px;
}
.iconLable {
    font-family: 'Montserrat',sans-serif;
    font-size: 12px !important;
    color: #333333;
    font-weight: normal;
    text-align: center;
}

#CaseStudy .col1, #CaseStudy .col2{
    width: 70px;
}
#CaseStudy .col4, #CaseStudy .col3 {
  width: 200px;
}

#CaseStudy .col5{
  width: 170px;
}

#CaseStudy .scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}

#CaseStudy .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}

.iconBox{
	padding:0px 0px 0px 29px;
}
.iconLable {
    font-family: 'Montserrat',sans-serif;
    font-size: 12px !important;
    color: #333333;
    font-weight: normal;
    text-align: center;
}