#GoalSectorReport .col1{
	width: 80px !important;
	text-align: left !important;
	white-space: pre-wrap!important;
}
#GoalSectorReport .col2{
    width: 150px !important;
	text-align: left !important;
    white-space: pre-wrap;
}
#GoalSectorReport .col3{
	width: 100px !important;
	white-space: pre-wrap!important;
	text-align: left !important;
}
#GoalSectorReport .col5, #GoalSectorReport .col6, #GoalSectorReport .col7{
	white-space: pre-wrap!important;
	width: 170px !important;
	text-align: left !important;
}
#GoalSectorReport .col4{
	white-space: pre-wrap!important;
	width: 100px !important;
}
#GoalSectorReport .col11, #GoalSectorReport .col14 {
	width: 62px !important;
} 
#GoalSectorReport .col13, #GoalSectorReport .col15{
	width: 72px !important;
} 
#GoalSectorReport .col9, #GoalSectorReport .col10{
	width: 75px !important;
}
#GoalSectorReport .col12{
	width: 52px !important;
}
#GoalSectorReport .col17, #GoalSectorReport .col16, #GoalSectorReport .col19{
	width: 72px !important;
}
#GoalSectorReport .col8{
	width: 52px !important;
}
#GoalSectorReport .col18 ,#GoalSectorReport .col20{
	width: 65px !important;
}
#GoalSectorReport .scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}

#GoalSectorReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}

