.commonHeaderFixTable{
  max-height: 40em;
  margin-top: 10px !important;
}
#commonTable {
  width: 120%;
}
.spinAnimation{
  display: block;
  color: #ff0;
}

#commonTable thead th { 
  color: #333;
  background: #c2c6c3 !important;
  position: sticky;
  border: 1px solid #e9e8e8;
  top: 0;
  z-index: 4;
}
/*.tempTableHeader th {
  top: 0;
  height: 34px;
}
.tempTableHeader1 th {
  top: 34px;
}*/
.scrollContent{
  /*background: #fff;*/
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-striped>tbody>tr:nth-of-type(2n) {
    background-color: #fff;
}
.table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
}
.iAssureITtable-bordered>tbody>tr>td, .iAssureITtable-bordered>tbody>tr>th, .iAssureITtable-bordered>tfoot>tr>td, .iAssureITtable-bordered>tfoot>tr>th, .iAssureITtable-bordered>thead>tr>td, .iAssureITtable-bordered>thead>tr>th{
  /*border: 1px solid hsla(0,0%,100%,.4);*/
  border: 1px solid #e9e8e8;
}
.iAssureITtable-bordered > thead > tr > th, .iAssureITtable-bordered > tbody > tr > th, .iAssureITtable-bordered > tfoot > tr > th, .iAssureITtable-bordered > thead > tr > td, .iAssureITtable-bordered > tbody > tr > td, .iAssureITtable-bordered > tfoot > tr > td {
  /*border: 1px solid #fff6;*/
  /*border: 1px solid #2f9c3f;*/
}
.actionDiv{
  width: 55px;
}
.whiteText{
  color: transparent;
}
.umDynamicHeader .coloredIndex{
  background-color: #f00;
}

/*.wrapText{
  white-space: pre-wrap !important;
  width: 200px;
}*/
.wrapWord{
   word-wrap: break-word;
}
.tableDwld{
  font-size: 25px;
  border: 1px solid #eee;
  padding: 5px 8px;
  box-shadow: 0 0 10px #ede1e1;
  color: #777;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 28px;
  border: 1px solid #979797 !important;
  border-radius: 3px !important;
  height: 32px !important;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}
.iAssureITtable-bordered{
  /*border: 1px solid #4ca75a;*/
  /*margin-top: 2%;*/
}
.paginationAdminWrap{
  text-align: center !important;
  width: 100%;
}
.paginationAdminOES > li > a{
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}
.paginationAdminOES > li{
    display: inline-block;
    margin-left: 0 !important;
    font-size: 10px;
}
.queDataCircle p{
  height: 100%;
  width: 100%;
}
.activeCircle{
  background: #7f7f7f !important;
}
.queDataCircle {
  padding-top: 4px;
  font-size: 12px;
  border: 1px solid #e8e6e6 !important;
  height: 24px !important;
  width: 24px !important;
  border-radius: 100% !important;
  box-shadow: 3px 4px 7px -3px #aeabab !important;
  text-align: center;
}
.marginTop17{
  margin-top: 17px;
}
.marginTop8{
  margin-top: 8px;
}
.textAlignCenter{
  text-align: center !important;
}/*
.textAlignLeft{
  text-align: left !important;
  white-space: nowrap;
}*/
.noWrapText{
  white-space: nowrap;
}
.noPadding{
  padding: 0px;
}
.tableicons{
  font-size: 20px;
  padding: 5px 8px;
  box-shadow: 0 0 10px #ede1e1;
  color: #777;
  background-color: #fff;
  border: 1px solid #979797 !important;
  border-radius: 3px !important;
  margin-top: 25px;
}

.tableprintincon.focus, .tableprintincon:focus, .tableprintincon:hover {
    color: #333 !important;
    text-decoration: none;
}

.tableprintincon{
  font-size: 15px;
  box-shadow: 0 0 10px #ede1e1;
  color: #777;
  background-color: #fff;
  border: 1px solid #979797 !important;
  border-radius: 3px !important;
  padding: 5px 10px;
  margin-top: 25px;
}
.scrollit{
  overflow:scroll;
    height:100px;
}

.fixedTable .colSr{
  width: 30px !important;
}


.scrollContent::-webkit-scrollbar-thumb {
    background-color: #666  ;
    /*border: 1px solid #aaa;*/
}

.scrollContent::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollContent::-webkit-scrollbar-track {
  background: #fff; 
    /*border: 1px solid #4ca75a;*/

}
 
/* Handle */
.scrollContent::-webkit-scrollbar-thumb {
  background: #666; 
}

/* Handle on hover */
.scrollContent::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
.scrollContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
