#UpgradedBeneficiaryReport .col1{
	width: 80px !important;
	white-space: pre-wrap!important;
}
#UpgradedBeneficiaryReport .col2{
	white-space: pre-wrap!important;
	width: 100px !important;
}
#UpgradedBeneficiaryReport .col3{
	white-space: pre-wrap!important;
	width: 100px !important;
}
#UpgradedBeneficiaryReport .col4, #UpgradedBeneficiaryReport .col11, #UpgradedBeneficiaryReport .col12 {
	white-space: pre-wrap!important;
	width: 72px !important;
} 
#UpgradedBeneficiaryReport .col5{
	white-space: pre-wrap!important;
	width: 200px !important;
}
#UpgradedBeneficiaryReport .col6, #UpgradedBeneficiaryReport .col10, #UpgradedBeneficiaryReport .col7,  #UpgradedBeneficiaryReport .col9{
	white-space: pre-wrap!important;
	width: 120px !important;
}
 #UpgradedBeneficiaryReport .col8{
	white-space: pre-wrap!important;
	width: 140px !important;
}


#UpgradedBeneficiaryReport .scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}

#UpgradedBeneficiaryReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}

