.commonHeaderFixTable{
  max-height: 40em;
  margin-top: 10px !important;
}
#FamilyCoverageReport {
  width: 120%;
}

#FamilyCoverageReport thead th { 
  color: #333;
  background: #c2c6c3 !important;
  position: sticky;
  border: 1px solid #e9e8e8;
  top: 0;
  z-index: 4;
}

.boldDiv{
	font-weight: 700;	
}
.fixedTable .colSr{
	/*width: 30px !important;*/
}
#FamilyCoverageReport .col1{
	width: 120px !important;
	white-space: pre-wrap !important;
}
#FamilyCoverageReport .col2, #FamilyCoverageReport .col11{
	white-space: nowrap !important;
}
#FamilyCoverageReport .col3{
	white-space: pre-wrap!important;
	width: 80px !important;
}
#FamilyCoverageReport .col4{
	white-space: pre-wrap!important;
	width: 80px !important;
}
#FamilyCoverageReport .col9{
	white-space: pre-wrap!important;
	width: 120px !important;
} 
#FamilyCoverageReport .col5, #FamilyCoverageReport .col6, #FamilyCoverageReport .col7{
	white-space: pre-wrap!important;
	width: 80px !important;
}
#FamilyCoverageReport .col10, #FamilyCoverageReport .col8{
	white-space: pre-wrap!important;
	width: 120px !important;
}
#FamilyCoverageReport .col22{
	white-space: pre-wrap!important;
	width: 150px;
	text-align: left;
}
/*#FamilyCoverageReport .col20, #FamilyCoverageReport .col21{
	white-space: pre-wrap!important;
	width: 72px !important;
}
#FamilyCoverageReport .col14{
	white-space: pre-wrap!important;
	width: 70px !important;
} 
#FamilyCoverageReport .col12, #FamilyCoverageReport .col11, #FamilyCoverageReport .col13{	
	white-space: pre-wrap!important;
	width: 72px !important;
} 
#FamilyCoverageReport .col15, #FamilyCoverageReport .col16, #FamilyCoverageReport .col17, #FamilyCoverageReport .col18, #FamilyCoverageReport .col19{
	white-space: pre-wrap!important;
	width: 62px !important;
} */
/*#FamilyCoverageReport .col20, #FamilyCoverageReport .col21{
	white-space: pre-wrap!important;
	width: 62px !important;
} 
#FamilyCoverageReport .uidNumber{
	white-space: pre-wrap!important;
	width: 85px !important;
} 

#FamilyCoverageReport .scrollContent {
  display: block;
  height: 450px;
  overflow: auto;
  width: 100%;
}

#FamilyCoverageReport .fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}*/

.tableRow > td {
  	/*border: 1px solid #e9e8e8 !important;*/
	/*border: 1px solid #fff6 !important;*/
    /*border: 1px solid #2f9c3f !important;*/
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top
}